<form [formGroup]="form" (ngSubmit)="gerar(form.value)">
  <div class="row m-4">

    <!-- Input do Json -->
    <div class="col-md-5">
      <div class="form-group">
        <label for="json">Json</label>
        <textarea class="form-control text" id="json" formControlName="json"
          placeholder="Entre com o JSON aqui!"></textarea>
      </div>

      <!-- Mensagens de erro -->
      <ng-container *ngIf="form.get('json').invalid && form.get('json').touched && form.get('json').dirty">
        <ul>
          <li class="text-danger" *ngIf="form.get('json').hasError('required')">
            Campo obrigatório!
          </li>
          <li class="text-danger" *ngIf="form.get('json').hasError('json')">
            Json inválido
          </li>
        </ul>
        <p class="text-danger" *ngIf="form.get('json').hasError('error')">
          Não foi possível concluir a conversão
        </p>
      </ng-container>
    </div>
    <!-- Input do Json -->

    <!-- Painel de ações -->
    <div class="col-md-2 text-center">
      <div class="form-check mt-4">
        <input type="checkbox" class="form-check-input" id="showHeaders" formControlName="showHeaders">
        <label class="form-check-label" for="showHeaders">Gerar cabeçalho</label>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Converter >></button>
      <button type="reset" class="btn btn-danger mt-2 ml-1">Limpar</button>
    </div>
    <!-- Painel de ações -->

    <!-- Saida do CSV -->
    <div class="col-md-5">
      <div class="form-group">
        <label for="csv">Resultado:</label>
        <textarea class="form-control text" formControlName="csv"></textarea>
      </div>
    </div>
    <!-- Saida do CSV -->
  </div>

  <!-- Bonus da tabela -->
  <div class="row m-2" *ngIf="tabela">

    <div class="col-12">
      <div class="alert alert-info" role="alert">
        <b>Bônus</b> exibir resultado em uma tabela
      </div>
    </div>

    <!-- Tabela -->
    <div class="col-12 table-responsive">
      <table class="table table-bordered">
        <tbody>
          <!-- Linhas -->
          <tr *ngFor="let l of tabela; let i = index">


            <!-- Colunas para cabeçalho -->
            <ng-container *ngIf="i == 0 && tabelaHeader; else linha">
              <th *ngFor="let c of l">
                {{ c.valor }}
              </th>
            </ng-container>
            <!-- Colunas para cabeçalho -->

            <!-- Colunas para linhas -->
            <ng-template #linha>
              <td *ngFor="let c of l">
                {{ c.valor }}
              </td>
            </ng-template>
            <!-- Colunas para linhas -->

          </tr>
          <!-- Linhas -->
        </tbody>
      </table>
    </div>
    <!-- Tabela -->
  </div>
  <!-- Bonus da tabela -->
</form>
